<h1>Should I take an umbrella?</h1>

<%= @parsed_response_gmaps %>

<dl>
  <dt>User location</dt>
  <dd><%= @user_location %></dd>

  <dt>Latitude</dt>
  <dd><%= @lat %></dd>

  <dt>Longitude</dt>
  <dd><%= @lng %></dd>

  <%= @parsed_response_pirate %>

  <dt>Current temperature</dt>
  <dd>33.98</dd>

  <dt>Current summary</dt>
  <dd>Clear</dd>

  <dt>Umbrella?</dt>
  <dd>You probably won&#39;t need an umbrella.</dd>
</dl>

<a href="/umbrella">Go back</a>
